/* --- TAILWIND BASE --- */
@import "tailwindcss";
@plugin "@midudev/tailwind-animations";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Watermark  */
.fp-watermark {
  display: none !important;
}

/* Más espacio entre los puntos */
#fp-nav ul li {
  margin: 16px 0 !important;
}

/* Color y tamaño puntitos normales */
#fp-nav ul li a span {
  background: rgba(148, 148, 146, 0.329) !important;
  width: 15px !important;
  height: 15px !important;
  margin: -10px 0 0 -10px !important;
  border-radius: 50% !important;
}

/* Color y efecto del puntito activo */
#fp-nav ul li a.active span {
  background: rgb(255, 94, 0) !important;
  transform: scale(1.25);
}
@keyframes marqueeScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Contenedor grande que se mueve */
.marquee-wrapper {
  display: flex;
  width: 200%;             /* 🔥 2 tracks enteros */
  animation: marqueeScroll 12s linear infinite;
}

/* Cada track */
.marquee-content {
  width: 50%;               /* 🔥 Cada uno ocupa la mitad */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;                /* separación linda */
  white-space: nowrap;
  font-weight: 600;
  padding: 0.3rem 0;
  font-size: 0.9rem;
}
